/////////////////////////////////////////////////////////////////// RESET CSS
@import "_reset.scss"; /* resetta lo stile del css */
/////////////////////////////////////////////////////////////////// RESET CSS -------- /

/////////////////////////////////////////////////////////////////// COLORS VARIABLES
$color-green-vivid: rgba(106, 191, 23, 1);
$color-green-darker: rgba(90, 165, 17, 1);
$color-blue: rgba(23, 117, 191, 1);
$color-blue-light: rgb(37, 153, 242);
$color-gray-regular: rgba(171, 171, 171, 1);
$color-gray-darker: rgba(88, 88, 88);
$color-black: black;
$color-white: white;
$color-gray-light: rgb(250, 250, 250);
/////////////////////////////////////////////////////////////////// COLORS VARIABLES -------- /

/////////////////////////////////////////////////////////////////// MIXINS

@mixin text-strong {
    font-weight: bolder;
    font-size: 0.9rem;
    color: $color-black;
}

@mixin text-medium {
    font-weight: 500;
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
}

@mixin text-small-capitalized {
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 1rem 0;
    color: rgb(128, 128, 128);
}

@mixin border-thin {
    border: 0.09rem solid rgb(215, 209, 209);
}

@mixin text-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #000;
    font-size: 0.9rem;
    font-weight: 600;

    color: #34a0f7;
    text-transform: capitalize;
}

/////////////////////////////////////////////////////////////////// MIXINS  -------- /
